<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/pouchdb-3.6.0.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">
    <ion-pane ng-controller="ExampleController">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Ionic Blank Starter</h1>
            <button class="right button button-icon icon ion-plus" ng-click="create()"></button>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item ng-repeat="todo in todos">
                    {{todo.title}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-pane>
  </body>
</html>
